<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- fontAwwsome icon  -->
    <link rel="stylesheet" href="/user/css/all.min.css" type="text/css" />
    <!-- noty alert  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css" integrity="sha512-0p3K0H3S6Q4bEWZ/WmC94Tgit2ular2/n0ESdfEX8l172YyQj8re1Wu9s/HT9T/T2osUw5Gx/6pAZNk3UKbESw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- end noty alert  -->
    <!-- boostrap  css  -->
     <link rel="stylesheet" href="/user/css/bootstrap.min.css" type="text/css" />
    <!-- main css  -->
     <link rel="stylesheet" href="/user/css/user.css" type="text/css" />
</head>
<body class="w-100 d-flex justify-content-center align-items-center" style="height: 100vh;background-color: #ECEFF2;">
    <div class="col-lg-4 mx-auto p-3">
        <form method="post" action="/checkUser">
            <div class="text-center mb-4">
              <h3>Welcome Back</h3>
              <p class="text-secondary" style="font-size: 14px;">Login With Currect Credentials</p>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" name="email" class="form-control" placeholder="Enter Register Email"  id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" name="password" class="form-control" placeholder="Enter Password"  id="exampleInputPassword1">
            </div>
            <a href="#">forget password</a>
            <div class="text-center mt-4">
              <button type="submit" class="btn btn-primary">Login</button>
            </div>
            
            
            <p class="text-secondary mt-4" style="font-size: 14px;">Don't have a account?<a href="/userSignUp">SignUp</a></p>

            <div class="or text-center position-relative z-1">
              <p class="d-inline-block m-0 bg-white px-1">or</p>
            </div>

            <a href="/google" class="btn border w-100 my-2" style="font-size: 14px;"><i class="fa-brands fa-google"></i> Login with Google</a>
        </form>
    </div>
    

<script src="/user/js/bootstrap.bundle.min.js" type="text/javascript"></script>
 <!-- noty alert  -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js" integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
 <!-- end noty alert  -->
 <script>
  '<% if(locals.flash.success.length > 0 ){ %>'
    new Noty({
        type: 'success',
        layout: 'topCenter',
        text: '<%= locals.flash.success %>',
        theme:'metroui',
        timeout:1000,
    }).show();
  '  <% } %>  '
  '<% if(locals.flash.error.length > 0 ){ %>'
    new Noty({
        type: 'error',
        layout: 'topCenter',
        text: '<%= locals.flash.error %>',
        theme:'metroui',
        timeout:1000,
    }).show();
  '  <% } %>  '
 </script>
<!--end noty alert script  -->
</body>
</html>