
<%- include('../Layouts/header') %>



      <!--end::Sidebar-->
      <!--begin::App Main-->
      <main class="app-main">
        <!--begin::App Content Header-->
        <div class="app-content-header">
          <!--begin::Container-->
          <div class="container-fluid">
            <!--begin::Row-->
            <div class="row">
              <div class="col-sm-6"><h3 class="mb-0">Change Admin Password</h3></div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
                  <li class="breadcrumb-item"><a href="/dashBoard">DashBoard</a></li>
                  <li class="breadcrumb-item active" aria-current="page">ChangePassword</li>
                </ol>
              </div>
            </div>
            <!--end::Row-->
          </div>
          <!--end::Container-->
        </div>
        <!--end::App Content Header-->
        <!--begin::App Content-->
        <div class="app-content">
          <!--begin::Container-->
          <div class="container-fluid">
            <!--begin::Row-->
            <div class="row g-4">
              <!--begin::Col-->
              <!--end::Col-->
              <!--begin::Col-->
              <div class="col-md-7 mx-auto">
                <!--begin::Quick Example-->
               
                <!--end::Quick Example-->
                <!--begin::Input Group-->
               
                <!--end::Input Group-->
                <!--begin::Horizontal Form-->
                <div class="card card-warning card-outline mb-4">
                  <!--begin::Header-->
                  <div class="card-header"><div class="card-title">Change Admin Password</div></div>
                  <!--end::Header-->
                  <!--begin::Form-->
                  <form method="post" action="/verifyNewPassword">
                    <!--begin::Body-->
                    <div class="card-body">

                      <div class="row mb-3">
                        <label for="inputPassword3" class="col-sm-3 col-form-label">Current Password</label>
                        <div class="col-sm-9">
                          <input type="password" name="currentPassword" class="form-control" id="inputPassword3" />
                        </div>
                      </div>

                      <div class="row mb-3">
                        <label for="inputPassword3" class="col-sm-3 col-form-label">New Password</label>
                        <div class="col-sm-9">
                          <input type="password" name="newPassword" class="form-control" id="inputPassword3" />
                        </div>
                      </div>

                      <div class="row mb-3">
                        <label for="inputPassword3" class="col-sm-3 col-form-label">Confirm Password</label>
                        <div class="col-sm-9">
                          <input type="confirmPassword" name="confirmPassword" class="form-control" id="inputPassword3" />
                        </div>
                      </div>


                    </div>
                    <!--end::Body-->
                    <!--begin::Footer-->
                    <div class="card-footer text-center py-2">
                      <button type="submit" class="btn btn-primary">Change Password</button>
                    </div>
                    <!--end::Footer-->
                  </form>
                  <!--end::Form-->
                </div>
                <!--end::Horizontal Form-->
              </div>
              <!--end::Col-->
              <!--begin::Col-->
              
              <!--end::Col-->
            </div>
            <!--end::Row-->
          </div>
          <!--end::Container-->
        </div>
        <!--end::App Content-->
      </main>
      <!--end::App Main-->
      <!--begin::Footer-->
      


<%- include('../Layouts/footer') %>